//brand colors
$primary-color: #2fc49c; //green
$secondary-color: #756ff4; //purple
$error-color: #fc492b;

//background
$bg-color: #e5e5e5;
$form-bg-color: #fafafa;

//borders
$header-border-color: #e2e2e2;
$main-border-color: #e0e0e0;
$input-border-color: #d6dcde;

//texts
$default-text-color: #262626;
$secondary-text-color: #8e8e8e;

//forms
$disabled-bg-color: #f8f8f8;
