/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$checkmark-inactive-x: 0px;
$checkmark-inactive-y: 24px;
$checkmark-inactive-offset-x: 0px;
$checkmark-inactive-offset-y: -24px;
$checkmark-inactive-width: 14px;
$checkmark-inactive-height: 10px;
$checkmark-inactive-total-width: 46px;
$checkmark-inactive-total-height: 43px;
$checkmark-inactive-image: '../images/sprite.png';
$checkmark-inactive: 0px 24px 0px -24px 14px 10px 46px 43px '../images/sprite.png';
$checkmark-x: 14px;
$checkmark-y: 24px;
$checkmark-offset-x: -14px;
$checkmark-offset-y: -24px;
$checkmark-width: 14px;
$checkmark-height: 10px;
$checkmark-total-width: 46px;
$checkmark-total-height: 43px;
$checkmark-image: '../images/sprite.png';
$checkmark: 14px 24px -14px -24px 14px 10px 46px 43px '../images/sprite.png';
$error-icon-x: 24px;
$error-icon-y: 0px;
$error-icon-offset-x: -24px;
$error-icon-offset-y: 0px;
$error-icon-width: 22px;
$error-icon-height: 23px;
$error-icon-total-width: 46px;
$error-icon-total-height: 43px;
$error-icon-image: '../images/sprite.png';
$error-icon: 24px 0px -24px 0px 22px 23px 46px 43px '../images/sprite.png';
$remove-icon-x: 0px;
$remove-icon-y: 0px;
$remove-icon-offset-x: 0px;
$remove-icon-offset-y: 0px;
$remove-icon-width: 24px;
$remove-icon-height: 24px;
$remove-icon-total-width: 46px;
$remove-icon-total-height: 43px;
$remove-icon-image: '../images/sprite.png';
$remove-icon: 0px 0px 0px 0px 24px 24px 46px 43px '../images/sprite.png';
$select-arrow-inactive-x: 28px;
$select-arrow-inactive-y: 24px;
$select-arrow-inactive-offset-x: -28px;
$select-arrow-inactive-offset-y: -24px;
$select-arrow-inactive-width: 15px;
$select-arrow-inactive-height: 9px;
$select-arrow-inactive-total-width: 46px;
$select-arrow-inactive-total-height: 43px;
$select-arrow-inactive-image: '../images/sprite.png';
$select-arrow-inactive: 28px 24px -28px -24px 15px 9px 46px 43px '../images/sprite.png';
$select-arrow-x: 0px;
$select-arrow-y: 34px;
$select-arrow-offset-x: 0px;
$select-arrow-offset-y: -34px;
$select-arrow-width: 15px;
$select-arrow-height: 9px;
$select-arrow-total-width: 46px;
$select-arrow-total-height: 43px;
$select-arrow-image: '../images/sprite.png';
$select-arrow: 0px 34px 0px -34px 15px 9px 46px 43px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
