{% for o in options %}
<input 
    id="{{ e.getID() + '__' + o.getValue( e )|escape }}"
    name="{{ e.getAbsName()|escape }}"
    type="checkbox" 
    value="{% if o.getValue( e ) is not none %}{{ o.getValue( e )|escape }}{% endif %}" 
    {% if e.getState().isReadonly() %}readonly{% endif %}
    {% if e.getState().isDisabled() or o.isDisabled() %}disabled{% endif %}
    {% if e.getState().isFocus() %}autofocus{% endif %}
    {% if ( not e.isMultiple() and o.getValue( e ) == e.getValue() ) or ( e.isMultiple() and o.getValue( e ) in e.getValue() ) %}checked{% endif %}
    autocomplete="off"
>
<label for="{{ e.getID() + '__' + o.getValue( e )|escape }}">
    {{ o.getLabel()|default('',True)|escape }}
</label>
{% endfor %}