/*
* @group paths
*/
/*
* @end
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
.dk-select, .dk-select *, .dk-select *:before, .dk-select *:after, .dk-select-multi, .dk-select-multi *, .dk-select-multi *:before, .dk-select-multi *:after {
  -prefix-box-sizing: border-box;
  -prefix-box-sizing: border-box;
  box-sizing: border-box; }

.dk-select, .dk-select-multi {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em;
  min-width: 200px;
  width: 500px;
  cursor: pointer; }

.dk-selected {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  background-color: white;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  padding: 0.4375rem 0.9375rem 0.4375rem;
  -prefix-text-overflow: ellipsis;
  text-overflow: ellipsis; }
  .dk-selected:before, .dk-selected:after {
    content: '';
    display: block;
    position: absolute;
    right: 0; }
  .dk-selected:before {
    top: 50%;
    background-image: url(../images/sprite.png);
    background-position: -15px -50px;
    width: 15px;
    height: 9px;
    margin: -0.125em 0.5em 0 0; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .dk-selected:before {
        background-image: url(../images/retina-sprite.png);
        background-position: 0px -50px;
        width: 15px;
        height: 9px;
        background-size: 72px 59px;
        background-repeat: no-repeat; } }
  .dk-selected:after {
    top: 0;
    height: 100%;
    margin: 0 1.5em 0 0; }

.dk-selected-disabled {
  color: #BBBBBB; }

.dk-select .dk-select-options {
  position: absolute;
  display: none;
  left: 0; }

.dk-select-open-up .dk-select-options {
  border: 1px solid #2fc49c;
  border-bottom-color: #CCCCCC;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
  bottom: 100%; }

.dk-select-open-down .dk-select-options {
  border: 1px solid #2fc49c;
  border-top-color: #CCCCCC;
  border-radius: 0 0 3px 3px;
  margin-top: -1px;
  top: 100%; }

.dk-select-multi .dk-select-options {
  max-height: 10em; }

.dk-select-multi:hover .dk-select-options {
  border: 1px solid #2fc49c; }

.dk-select-options {
  width: 100%;
  z-index: 100;
  background-color: white;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  overflow-x: hidden;
  max-height: 10.5em;
  list-style: none;
  padding: 0;
  margin: 0; }

.dk-option-selected {
  background-color: #e5e5e5; }

.dk-select-options-highlight .dk-option-selected {
  background-color: transparent;
  color: inherit; }

.dk-option {
  padding: 0.375rem 0.9375rem 0.4375rem; }

.dk-select-options .dk-option-highlight {
  background-color: #e5e5e5; }

.dk-select-options .dk-option-disabled {
  color: #BBBBBB;
  background-color: transparent; }

.dk-optgroup {
  border: solid #CCCCCC;
  border-width: 1px 0;
  padding: 0.25em 0;
  margin-top: 0.25em; }
  .dk-optgroup + .dk-option {
    margin-top: 0.25em; }
  .dk-optgroup + .dk-optgroup {
    border-top-width: 0;
    margin-top: 0; }
  .dk-optgroup:nth-child(2) {
    padding-top: 0;
    border-top: none;
    margin-top: 0; }
  .dk-optgroup:last-child {
    border-bottom-width: 0;
    margin-bottom: 0;
    padding-bottom: 0; }

.dk-optgroup-label {
  padding: 0 0.5em 0.25em;
  font-weight: bold;
  width: 100%; }

.dk-optgroup-options {
  list-style: none;
  padding-left: 0; }
  .dk-optgroup-options li {
    padding-left: 1.2em; }

.dk-select-open-up .dk-selected {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #2fc49c; }

.dk-select-open-down .dk-selected {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #2fc49c; }

.dk-select-open-up .dk-selected:before, .dk-select-open-down .dk-selected:before {
  border-width: 0 0.25em 0.25em;
  border-bottom-color: #2fc49c; }

.dk-select-open-up .dk-select-options, .dk-select-open-down .dk-select-options, .dk-select-multi:focus .dk-select-options {
  display: block; }

.dk-select-multi:hover, .dk-select-multi:focus {
  outline: none; }

.dk-selected:hover, .dk-selected:focus {
  outline: none;
  border-color: #2fc49c; }
  .dk-selected:hover:before, .dk-selected:focus:before {
    border-top-color: #2fc49c; }
  .dk-selected:hover:after, .dk-selected:focus:after {
    border-left-color: #2fc49c; }

.dk-select-disabled {
  opacity: 0.6;
  color: #BBBBBB;
  cursor: default; }
  .dk-select-disabled .dk-selected:hover, .dk-select-disabled .dk-selected:focus {
    border-color: inherit; }
  .dk-select-disabled .dk-selected:before {
    background-image: url(../images/sprite.png);
    background-position: 0px -50px;
    width: 15px;
    height: 9px; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .dk-select-disabled .dk-selected:before {
        background-image: url(../images/retina-sprite.png);
        background-position: -15px -50px;
        width: 15px;
        height: 9px;
        background-size: 72px 59px;
        background-repeat: no-repeat; } }

select[data-dkcacheid] {
  display: none; }

.button, a.button {
  display: inline-block;
  width: auto;
  padding: 0.75rem 1.6875rem;
  border: 1px solid #2fc49c;
  border-radius: 3px;
  background: #fff;
  background-image: -webkit-linear-gradient(bottom, rgba(97, 97, 97, 0.08), rgba(0, 0, 0, 0.08) 27%, rgba(255, 255, 255, 0.08));
  background-image: linear-gradient(to top, rgba(97, 97, 97, 0.08), rgba(0, 0, 0, 0.08) 27%, rgba(255, 255, 255, 0.08));
  font-weight: 700;
  color: #2fc49c;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }
  .button:hover, .button:active, .button:focus, a.button:hover, a.button:active, a.button:focus {
    outline: none; }
  .button:hover, .button:focus, a.button:hover, a.button:focus {
    box-shadow: inset 0 1px #fff;
    background-image: -webkit-linear-gradient(bottom, rgba(97, 97, 97, 0.02), rgba(0, 0, 0, 0.02) 27%, rgba(255, 255, 255, 0.02));
    background-image: linear-gradient(to top, rgba(97, 97, 97, 0.02), rgba(0, 0, 0, 0.02) 27%, rgba(255, 255, 255, 0.02)); }
  .button:active, a.button:active {
    box-shadow: inset 0 1px 3px rgba(91, 91, 91, 0.84);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)); }
  .button.on-dark, a.button.on-dark {
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px #fff;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)); }
    .button.on-dark:hover, .button.on-dark:focus, a.button.on-dark:hover, a.button.on-dark:focus {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px #fff;
      background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0.03));
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0.03)); }
    .button.on-dark:active, a.button.on-dark:active {
      box-shadow: inset 0 1px 2px rgba(84, 84, 84, 0.52);
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)); }
  .button.primary, a.button.primary {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px #57deba;
    background-color: #2fc49c;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.15); }
    .button.primary:hover, .button.primary:focus, a.button.primary:hover, a.button.primary:focus {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px #57deba;
      background-color: #5ae0bc;
      background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)); }
    .button.primary:active, a.button.primary:active {
      box-shadow: inset 0 1px 2px rgba(84, 84, 84, 0.52);
      background-color: #5ae0bc;
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)); }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  padding: 0.5rem 0.9375rem 0.5625rem;
  border: 1px solid #d6dcde;
  border-radius: 3px; }
  input[type="text"]:not([disabled]):focus, input[type="text"]:not([disabled]):active, input[type="password"]:not([disabled]):focus, input[type="password"]:not([disabled]):active, input[type="date"]:not([disabled]):focus, input[type="date"]:not([disabled]):active, input[type="datetime"]:not([disabled]):focus, input[type="datetime"]:not([disabled]):active, input[type="datetime-local"]:not([disabled]):focus, input[type="datetime-local"]:not([disabled]):active, input[type="month"]:not([disabled]):focus, input[type="month"]:not([disabled]):active, input[type="week"]:not([disabled]):focus, input[type="week"]:not([disabled]):active, input[type="email"]:not([disabled]):focus, input[type="email"]:not([disabled]):active, input[type="number"]:not([disabled]):focus, input[type="number"]:not([disabled]):active, input[type="search"]:not([disabled]):focus, input[type="search"]:not([disabled]):active, input[type="tel"]:not([disabled]):focus, input[type="tel"]:not([disabled]):active, input[type="time"]:not([disabled]):focus, input[type="time"]:not([disabled]):active, input[type="url"]:not([disabled]):focus, input[type="url"]:not([disabled]):active, textarea:not([disabled]):focus, textarea:not([disabled]):active {
    border-color: #2fc49c;
    outline: none; }
  input[type="text"]:disabled, input[type="password"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="month"]:disabled, input[type="week"]:disabled, input[type="email"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, textarea:disabled {
    opacity: 0.6;
    color: #BBBBBB; }
  input[type="text"].error, input[type="password"].error, input[type="date"].error, input[type="datetime"].error, input[type="datetime-local"].error, input[type="month"].error, input[type="week"].error, input[type="email"].error, input[type="number"].error, input[type="search"].error, input[type="tel"].error, input[type="time"].error, input[type="url"].error, textarea.error {
    border-color: #fc492b; }

form {
  padding: 1.5625rem; }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }
  fieldset legend {
    padding: 1.25rem 1.875rem;
    position: relative;
    left: 230px;
    color: #8e8e8e; }

.form-element {
  width: 850px;
  position: relative;
  margin-bottom: 1.25rem;
  clear: both; }
  .form-element.submit {
    margin-bottom: 0; }
  .form-element label {
    width: 200px;
    float: left;
    text-align: right;
    padding: 0.625rem 1.875rem; }
    .form-element label span.required {
      color: #fc492b; }
  .form-element input, .form-element textarea {
    width: 500px; }
  .form-element input[type=search] {
    width: 470px; }
  .form-element textarea {
    height: 150px; }
  .form-element input[type=checkbox], .form-element input[type=radio] {
    width: auto; }
    .form-element input[type=checkbox] + label, .form-element input[type=radio] + label {
      text-align: left;
      width: auto;
      line-height: 0.5; }
  .form-element div.options {
    float: left;
    width: 500px;
    padding: 0.4375rem 0; }
  .form-element div.hint, .form-element div.error.inline {
    clear: both;
    width: 500px;
    position: relative;
    left: 260px;
    padding: 0.625rem 0; }
  .form-element div.hint {
    font-size: 14;
    color: #8e8e8e;
    padding: 0.625rem 0; }
  .form-element div.error.inline {
    color: #fc492b;
    font-size: 16; }
  .form-element div.item:nth-of-type(1) {
    left: 0px; }

input + .error.tooltip {
  display: none;
  position: relative;
  margin-left: 0.625rem;
  vertical-align: middle;
  background-image: url(../images/sprite.png);
  background-position: -50px 0px;
  width: 22px;
  height: 23px; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    input + .error.tooltip {
      background-image: url(../images/retina-sprite.png);
      background-position: -50px 0px;
      width: 22px;
      height: 23px;
      background-size: 72px 59px;
      background-repeat: no-repeat; } }
  input + .error.tooltip:hover:before, input + .error.tooltip:hover:after {
    margin-right: -1.125rem; }
input.error + .error {
  display: inline-block; }

input[type="radio"] + label {
  display: block;
  position: relative;
  padding-left: 1.875rem;
  cursor: pointer; }
  input[type="radio"] + label:before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #d6dcde;
    border-radius: 100%;
    background: #fff; }
  input[type="radio"] + label:after {
    display: none;
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 6px;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 100%;
    background: #fff; }
input[type="radio"]:checked + label:before {
  background: #2fc49c;
  border-color: #24b58e; }
input[type="radio"]:checked + label:after {
  display: block; }
input[type="radio"]:disabled + label:before {
  background: #f8f8f8;
  border-color: #d6dcde; }
input[type="radio"]:disabled:checked + label:after {
  background: #d6dcde; }
input[type="radio"]:focus + label:before {
  border-color: #24b58e; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 1.875rem;
  cursor: pointer; }
  input[type="checkbox"] + label:before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #d6dcde;
    border-radius: 3px;
    background: #fff; }
  input[type="checkbox"] + label:after {
    display: none;
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 4px;
    background-image: url(../images/sprite.png);
    background-position: -50px -33px;
    width: 14px;
    height: 10px; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      input[type="checkbox"] + label:after {
        background-image: url(../images/retina-sprite.png);
        background-position: -50px -23px;
        width: 14px;
        height: 10px;
        background-size: 72px 59px;
        background-repeat: no-repeat; } }
input[type="checkbox"]:checked + label:before {
  background: #2fc49c;
  border-color: #24b58e; }
input[type="checkbox"]:checked + label:after {
  display: block; }
input[type="checkbox"]:disabled + label:before {
  background: #f8f8f8;
  border-color: #d6dcde; }
input[type="checkbox"]:disabled:checked + label:after {
  background-image: url(../images/sprite.png);
  background-position: -50px -23px;
  width: 14px;
  height: 10px; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    input[type="checkbox"]:disabled:checked + label:after {
      background-image: url(../images/retina-sprite.png);
      background-position: -50px -33px;
      width: 14px;
      height: 10px;
      background-size: 72px 59px;
      background-repeat: no-repeat; } }
input[type="checkbox"]:focus + label:before {
  border-color: #24b58e; }

form {
  background: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  color: #262626;
  line-height: 1.4em; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden, input[type="radio"], input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, input.focusable[type="radio"]:active, input.focusable[type="checkbox"]:active, .visuallyhidden.focusable:focus, input.focusable[type="radio"]:focus, input.focusable[type="checkbox"]:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.tooltip {
  position: relative; }
  .tooltip:hover:before {
    content: attr(data-tooltip);
    z-index: 1;
    display: block;
    position: absolute;
    left: 0;
    bottom: 2.8125rem;
    min-width: 15.3125rem;
    padding: 1.25rem;
    border-radius: 3px;
    background-color: #fff9db;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15); }
  .tooltip:hover:after {
    content: "▼";
    z-index: 2;
    display: block;
    position: absolute;
    left: 3.125rem;
    bottom: 2rem;
    -webkit-transform: scaleX(2.5);
            transform: scaleX(2.5);
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.13);
    color: #fff9db; }
  .tooltip.error:before {
    left: auto;
    right: 0;
    background: #fc492b;
    color: #fff; }
  .tooltip.error:after {
    left: auto;
    right: 1.25rem;
    color: #fc492b; }
