<fieldset 
    {% if e.getID() %}id="{{ e.getID() }}"{% endif %} 
    {% if e.getAbsName() %}name="{{ e.getAbsName() }}"{% endif %}
    class="{% if e.getState().isError() %}error{% endif %}"
>
    {% include 'error/fieldset.jinja2' %}
    {% if e.getLegend() %}
    <div class="legend">
        {{ e.getLegend()|default('',True)|escape }}
    </div>
    {% endif %}
    {% for element in e.getElements() %}
    {{ element.render() }}
    {% endfor %}
</fieldset>