/*
* @group paths
*/
$font-path: "../fonts";
$img-path: "../images";
/*
* @end
*/

$min-width: 768;
$main-max-width: 1255;
$global-radius: 3px;

//break-point
//$medium-screen: 40.063em;
$medium-screen: 801px;
//$large-screen: 64.063em;
$large-screen: 1025px;