{% extends '_field.jinja2' %}
{% block element %}
<script>
$(document).ready(function () {
    $('select.select').dropkick({ mobile: true });
});
</script>
<select 
    id="{{ e.getID()|escape }}"
    name="{{ e.getAbsName()|escape }}"
    placeholder="{{ e.getPlaceholder()|default('',True)|escape }}"
    class="select {% if e.getState().isError() %}error{% endif %}"
    {% if e.isMultiple() %}multiple{% endif %}
    {% if e.getState().isReadonly() %}readonly{% endif %}
    {% if e.getState().isDisabled() %}disabled{% endif %}
    {% if e.getState().isFocus() %}autofocus{% endif %}
    autocomplete="off"
>
    {{ e.renderOptions() }}
</select>
{% endblock %}